.stopwatchapp {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    background-color:rgb(3, 81, 3);
    color: white;
}

h1 {
    margin-bottom: 20px;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.startBtn, .pauseBtn, .lapBtn, .resetBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 2.5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.pauseBtn:disabled, .lapBtn:disabled {
    background-color: darkgrey;
    cursor: not-allowed;
} 

button:hover {
    transform: scale(1.05);
}

.startBtn {
    background-color: greenyellow;
    transition: background-color 0.3s; transform: 0.3s;
}
.startBtn:hover {
    background-color: lawngreen;
}

.resetBtn {
    background-color: indianred;
    transition: background-color 0.3s; transform: 0.3s;
}
.resetBtn:hover {
    background-color: red;
}

.pauseBtn:enabled {
    background-color: gold;
    transition: background-color 0.3s; transform: 0.3s;
}
.pauseBtn:enabled:hover {
    background-color: orange; 
}

.lapBtn:enabled {
    background-color: deepskyblue;
    transition: background-color 0.3s; transform: 0.3s;
}
.lapBtn:enabled:hover {
    background-color: dodgerblue;
}

.lapTableContainer {
    max-height: 250px;
    overflow-y:auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    text-align: left;
    z-index: 1;
    top: 0;
    background-color:rgb(111, 184, 111) 
}

th, td {
    padding: 10px;
    text-align: left;
}

td {
    background-color: rgb(99, 156, 0);
}

.lap-time tr {
    border-bottom: 1px solid #ccc;
}

.bestLap {
    font-weight: bold;
    color: green;
}

@media (max-width: 600px) {
    #display {
        font-size: 36px;
    }

    button {
        width: 100%;
        font-size: 14px;
    }
}